* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
}


body {
  background: #f8f5f2;
  color: #333;
}

header {
  background: #4b2e2e;
  padding: 15px 50px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
}
nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.hero {
  height: 90vh;
  background: url('https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?q=80&w=1400') center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content {
  background: rgba(0,0,0,0.5);
  padding: 40px;
  border-radius: 10px;
  color: white;
}

.hero-content h2 {
  font-size: 50px;
  margin-bottom: 15px;
}

.hero-content button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  background: #d4a373;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
.order-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #b37d4e; /* भूरा/कॉफी रंग */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 15px;
}

.order-btn:hover {
    background-color: #96643c; /* होवर करने पर डार्क रंग */
}


.menu {
  padding: 60px 20px;
  text-align: center;
}

.menu-items {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}
.card {
  background: white;
  padding: 30px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.about {
  padding: 60px 20px;
  text-align: center;
  background: #fff;
}

.contact {
  padding: 60px 20px;
  text-align: center;
}
form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

input,
textarea {
  margin: 10px 0;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 12px;
  background: #4b2e2e;
  color: white;
  border: none;
  cursor: pointer;
}

footer {
  background: #4b2e2e;
  color: white;
  text-align: center;
  padding: 20px;
}

@media(max-width: 768px) {
  nav {
    flex-direction: column;
  }
  .hero-content h2 {
    font-size: 35px;
  }
}
